# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [40]:
# Details Student 1:
print("Shani Lamy")
print(214949372)
print("shaninchuk@gmail.com")
# Details Student 2:

Shani Lamy
214949372
shaninchuk@gmail.com

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [2]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [3]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [4]:
# word net installation:

# unmark if you want to use and need to install
# !pip install wn
# !python -m wn download omw-he:1.4

In [5]:
# word net import:

# unmark if you want to use:
# import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [6]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
# !pip install hebrew_tokenizer

In [7]:
# Hebrew tokenizer import:

# unmark if you want to use:
# import hebrew_tokenizer as ht

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [8]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [9]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [10]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

##### Explore the data:

In [11]:
df_train.describe()

                                                    story gender
count                                                 753    753
unique                                                749      2
top     בשנה האחרונה נדבקתי וחליתי בנגיף הקורונה. עד ה...      m
freq                                                    2    575

In [12]:
# more information about the data:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   story   753 non-null    object
 1   gender  753 non-null    object
dtypes: object(2)
memory usage: 11.9+ KB

#### Clean the data:

In [13]:
#Remove duplicated rows:
df_train.duplicated().sum()
df_train = df_train.drop_duplicates()

3

In [14]:
def clean(df):
    #Remove numbers, punctuation and symbles from the story:
    df['story'] = df['story'].apply(lambda x: re.sub(r'[\d\W_]+', ' ', x))
    #Remove single-letter words from the story:
    df['story'] = df['story'].apply(lambda x: re.sub(r'\b\w\b', '', x))
    return df

In [15]:
df_train = clean(df_train)
df_train
df_test1= df_test.copy()
df_test1= clean(df_test1)
df_test1

                                                 story gender
0    כשחבר הזמין אותי לחול לא באמת חשבתי שזה יקרה פ...      m
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3    כשהייתי ילד מטוסים היה הדבר שהכי ריתק אותי בתו...      m
4     הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
..                                                 ...    ...
747  בקיץ האחרון יצאתי לטיול עם חברים לטיול באיזור ...      m
748  אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...      m
750  לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...      m
751  החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים ז...      f
752  פעם כשהייתי בחו  בקבולומביה כחלק מהטיול שלי לד...      m

[750 rows x 2 columns]

     test_example_id                                              story
0                  0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                  1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת י...
2                  2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...
3                  3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי אני ...
4                  4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...
..               ...                                                ...
318              318  בשנה האחרונה הרגשתי די תקוע בעבודה השגרה הפכה ...
319              319  אני ואילן חברים טובים מזה שנה תמיד חלמנו לפתח ...
320              320  מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...
321              321  לפני מספר חודשים בשיא התחלואה של הגל השני עמית...
322              322  היום בו דיווחתי על גניבה של האוטו שלי בוקר אחד...

[323 rows x 2 columns]

#### Split the data:

In [16]:
# create X_train and y_train:
X_train= df_train['story']
y_train= df_train['gender']
X_train.head(8)
y_train.head(8)

0    כשחבר הזמין אותי לחול לא באמת חשבתי שזה יקרה פ...
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...
3    כשהייתי ילד מטוסים היה הדבר שהכי ריתק אותי בתו...
4     הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...
5    לפני  חודשים טסתי לרומא למשך שבוע טסתי במטוס א...
6    אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...
7    השנה התחלנו שיפוץ בדירה שלנו בתל אביב הדירה הי...
Name: story, dtype: object

0    m
1    m
2    f
3    m
4    f
5    f
6    m
7    f
Name: gender, dtype: object

In [17]:
#create x_test:
X_test = df_test1['story']

### Vectorize and scale the text:

In [18]:
#vectorize and scale the text using min-max scaler:
def vectorizer_scaler(X, vectorizer):
    if( vectorizer == 'CountVectorizer'):
        vect = CountVectorizer(ngram_range= (1,2), min_df= 3, max_features = 15000)
    elif(vectorizer == 'TfidfVectorizer'):
        vect= TfidfVectorizer(ngram_range= (1,2), min_df= 3, max_features = 15000)
    X_train_counts = vect.fit_transform(X)
    scaler=MinMaxScaler()
    X_train_scaled= scaler.fit_transform(X_train_counts.toarray())
    return X_train_scaled

In [19]:
#vectorize X_train using TF-IDF:
X_tfidf_scaled= vectorizer_scaler(X_train, 'TfidfVectorizer') #X train scaled
X_tfidf_normalized= preprocessing.normalize(X_tfidf_scaled, norm='l1') #X train scaled and normalized

In [20]:
#vectorize X_train using Count Vectorizer:
X_CountVectorizer_scaled= vectorizer_scaler(X_train, 'CountVectorizer') #X train scaled
X_CountVectorizer_normalized= preprocessing.normalize(X_CountVectorizer_scaled, norm='l1') #X train scaled and normalized

# Train model:

In [21]:
def find_f1(X_train, y_train, model):
    scores = cross_val_score(model, X_train, y_train, cv=10, scoring= 'f1_macro')
    f1_average= scores.mean()
    print("model: ", model)
    print("f1 score: ",f1_average)
    print("------------")
    return f1_average

In [22]:
#train models on X_train with TfidfVectorizer and CountVectorizer and find the best score with cross validation:
def train_models(X_CountVectorizer, X_tfidf):
    models={LinearSVC(), Perceptron(), GaussianNB(), MultinomialNB(), MLPClassifier(), SGDClassifier()}
    best_f1= 0
    best_model= None
    best_vectorizer = None
    for model in models:
        print("vectorizer: CountVectorizer")
        f1_average= find_f1(X_CountVectorizer, y_train, model)
        if (f1_average>best_f1):
            best_f1= f1_average
            best_model= model
            best_vectorizer= 'CountVectorizer'
        print("vectorizer: TfidfVectorizer")
        f1_average= find_f1(X_tfidf, y_train, model)
        if (f1_average>best_f1):
            best_f1= f1_average
            best_model= model
            best_vectorizer= 'TfidfVectorizer'
    return best_vectorizer, best_model, best_f1

In [23]:
#train models on X_train scaled and normalized (TfidfVectorizer and CountVectorizer) and find the best score with cross validation:
best_vectorizer, best_model, best_f1= train_models(X_CountVectorizer_normalized, X_tfidf_normalized)

vectorizer: CountVectorizer
model:  MultinomialNB()
f1 score:  0.4330997949419002
------------
vectorizer: TfidfVectorizer
model:  MultinomialNB()
f1 score:  0.4330997949419002
------------
vectorizer: CountVectorizer
model:  Perceptron()
f1 score:  0.6032485159354914
------------
vectorizer: TfidfVectorizer
model:  Perceptron()
f1 score:  0.6111848576037819
------------
vectorizer: CountVectorizer
model:  GaussianNB()
f1 score:  0.4703524278052201
------------
vectorizer: TfidfVectorizer
model:  GaussianNB()
f1 score:  0.4703524278052201
------------
vectorizer: CountVectorizer
model:  SGDClassifier()
f1 score:  0.40927281546975947
------------
vectorizer: TfidfVectorizer
model:  SGDClassifier()
f1 score:  0.4330997949419002
------------
vectorizer: CountVectorizer
model:  LinearSVC()
f1 score:  0.4330997949419002
------------
vectorizer: TfidfVectorizer
model:  LinearSVC()
f1 score:  0.4330997949419002
------------
vectorizer: CountVectorizer
model:  MLPClassifier()
f1 score:  0.496153904310491
------------
vectorizer: TfidfVectorizer
model:  MLPClassifier()
f1 score:  0.496153904310491
------------

#### best model on scaled and normalized X_train:

In [24]:
#best model on scaled and normalized X_train:
print("vectorizer: ", best_vectorizer)
print("best model: ", best_model)
print("f1 average: ", best_f1)

vectorizer:  TfidfVectorizer
best model:  Perceptron()
f1 average:  0.6111848576037819

In [25]:
#train models on X_train scaled (TfidfVectorizer and CountVectorizer) and find the best score with cross validation:
best_vectorizer, best_model, best_f1= train_models(X_CountVectorizer_scaled, X_tfidf_scaled)

vectorizer: CountVectorizer
model:  MLPClassifier()
f1 score:  0.5117133448699316
------------
vectorizer: TfidfVectorizer
model:  MLPClassifier()
f1 score:  0.5160872052401759
------------
vectorizer: CountVectorizer
model:  Perceptron()
f1 score:  0.661540112482108
------------
vectorizer: TfidfVectorizer
model:  Perceptron()
f1 score:  0.6606361599454379
------------
vectorizer: CountVectorizer
model:  SGDClassifier()
f1 score:  0.60388347461763
------------
vectorizer: TfidfVectorizer
model:  SGDClassifier()
f1 score:  0.6114874564224076
------------
vectorizer: CountVectorizer
model:  MultinomialNB()
f1 score:  0.6881511224673836
------------
vectorizer: TfidfVectorizer
model:  MultinomialNB()
f1 score:  0.7006264964971461
------------
vectorizer: CountVectorizer
model:  GaussianNB()
f1 score:  0.4703524278052201
------------
vectorizer: TfidfVectorizer
model:  GaussianNB()
f1 score:  0.4703524278052201
------------
vectorizer: CountVectorizer
model:  LinearSVC()
f1 score:  0.5852347724812766
------------
vectorizer: TfidfVectorizer
model:  LinearSVC()
f1 score:  0.6052465207770029
------------

#### best model on scaled X_train:

In [26]:
#best model on scaled X_train:
print("vectorizer: ", best_vectorizer)
print("best model: ", best_model)
print("f1 average: ", best_f1)

vectorizer:  TfidfVectorizer
best model:  MultinomialNB()
f1 average:  0.7006264964971461

As we can see, these models provided better results on the scaled data (not normalized).

# Grid search with different models:

## KNeighborsClassifier:

In [27]:
def KNN_gridSearch(X_train):
    knn_classifier = KNeighborsClassifier()
    knn_params = {
          'n_neighbors': [3, 5, 7, 9],
          'metric': ['euclidean', 'manhattan']
    }

    cls_cv = GridSearchCV(knn_classifier,knn_params,cv=10,scoring= 'f1_macro')

    grid_search_res = cls_cv.fit(X_train, y_train)
    
    best_model=cls_cv.best_estimator_
    f1_scores= cross_val_score(best_model, X_train, y_train, cv=10,scoring= 'f1_macro')
    f1_average= f1_scores.mean()
    print("best parameters:" , best_model)
    print("f1 macro:" , f1_average)

#### KNN classifier with TfidfVectorizer (scaled):

In [28]:
KNN_gridSearch(X_tfidf_scaled)

best parameters: KNeighborsClassifier(metric='euclidean', n_neighbors=3)
f1 macro: 0.44967082081525167

#### KNN classifier with TfidfVectorizer (scaled and normalized):

In [29]:
KNN_gridSearch(X_tfidf_normalized)

best parameters: KNeighborsClassifier(metric='manhattan')
f1 macro: 0.6309168283987022

#### KNN classifier with CountVectorizer (scaled):

In [30]:
KNN_gridSearch(X_CountVectorizer_scaled)

best parameters: KNeighborsClassifier(metric='euclidean', n_neighbors=3)
f1 macro: 0.4330997949419002

#### KNN classifier with CountVectorizer (scaled and normalized):

In [31]:
KNN_gridSearch(X_CountVectorizer_normalized)

best parameters: KNeighborsClassifier(metric='manhattan', n_neighbors=3)
f1 macro: 0.6230242613013048

## DecisionTreeClassifier:

In [32]:
def DecisionTree_gridSearch(X_train):
    DecisionTree= DecisionTreeClassifier()
    params = {
            'max_depth': [10,20,30,40],
            'min_samples_split': [10, 15, 20, 25]
    }
    cls_cv = GridSearchCV(DecisionTree,params,cv=10,scoring= 'f1_macro')
    
    grid_search_res = cls_cv.fit(X_train, y_train)
    
    best_model=cls_cv.best_estimator_
    f1_scores= cross_val_score(best_model, X_train, y_train, cv=10,scoring= 'f1_macro')
    f1_average= f1_scores.mean()
    print("best parameters:" , best_model)
    print("f1 macro:" , f1_average)

#### Decision Tree with TfidfVectorizer (scaled):

In [33]:
DecisionTree_gridSearch(X_tfidf_scaled)

best parameters: DecisionTreeClassifier(max_depth=30, min_samples_split=25)
f1 macro: 0.6149438394215399

#### Decision Tree with TfidfVectorizer (scaled and normalized):

In [34]:
DecisionTree_gridSearch(X_tfidf_normalized)

best parameters: DecisionTreeClassifier(max_depth=30, min_samples_split=25)
f1 macro: 0.5904916194796775

#### Decision Tree with CountVectorizer (scaled):

In [35]:
DecisionTree_gridSearch(X_CountVectorizer_scaled)

best parameters: DecisionTreeClassifier(max_depth=40, min_samples_split=10)
f1 macro: 0.5991896358782199

#### Decision Tree with CountVectorizer (scaled and normalized):

In [36]:
DecisionTree_gridSearch(X_CountVectorizer_normalized)

best parameters: DecisionTreeClassifier(max_depth=40, min_samples_split=25)
f1 macro: 0.5890673530290413

## Predict:

The best model we found was MultinomialNB using TfidfVectorizer and MinMaxScaler:

In [37]:
vectorizer = TfidfVectorizer(ngram_range=(1, 2), min_df=3, max_features=15000)

X_train_features = vectorizer.fit_transform(X_train)
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train_features.toarray())

clf = MultinomialNB()
clf.fit(X_train_scaled, y_train)

X_test_features = vectorizer.transform(X_test)
X_test_scaled = scaler.transform(X_test_features.toarray())

predictions = clf.predict(X_test_scaled)

df_predicted= df_test.copy()
df_predicted['gender'] = predictions

df_predicted

df_predicted['gender'].value_counts()

MultinomialNB()

     test_example_id                                              story gender
0                  0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...      m
1                  1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...      m
2                  2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...      m
3                  3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...      m
4                  4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...      m
..               ...                                                ...    ...
318              318  בשנה האחרונה הרגשתי די תקוע בעבודה, השגרה הפכה...      m
319              319  אני ואילן חברים טובים מזה 20 שנה תמיד חלמנו לפ...      m
320              320  מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...      m
321              321  לפני מספר חודשים, בשיא התחלואה של הגל השני, עמ...      m
322              322  היום בו דיווחתי על גניבה של האוטו שלי. בוקר אח...      m

[323 rows x 3 columns]

m    295
f     28
Name: gender, dtype: int64

In [38]:
df_predicted.head(5)
df_predicted.tail(5)

   test_example_id                                              story gender
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...      m
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...      m
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...      m
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...      m
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...      m

     test_example_id                                              story gender
318              318  בשנה האחרונה הרגשתי די תקוע בעבודה, השגרה הפכה...      m
319              319  אני ואילן חברים טובים מזה 20 שנה תמיד חלמנו לפ...      m
320              320  מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...      m
321              321  לפני מספר חודשים, בשיא התחלואה של הגל השני, עמ...      m
322              322  היום בו דיווחתי על גניבה של האוטו שלי. בוקר אח...      m

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [39]:
df_predicted.to_csv('classification_results.csv',index=False)